.category{
	margin-top: 100px;
	/* background-image: url('../Images/cakebg.png'); */
	background-color: #f2f1f6;
      
}


.category .card-item{
    background-color: white;
    border-radius:10px;
    width:350px;
	margin-top:50px;

  }


