.footer{
    background-color: #fff4f3;
    height:250px;
}
.footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
  }
  
  .left-section {
    
    padding-left: 20px;
  }
  
  .middle-section {
    flex-grow: 1;
    text-align: center;
  }
  
  .right-section {
    padding-right:20px;
  }
  